[submodule "submodules/yaucl"]
	path = submodules/yaucl
	url = git@github.com:datagramdb/yaucl.git
[submodule "submodules/logaut"]
	path = submodules/logaut
	url = https://github.com/whitemech/logaut
[submodule "submodules/lydia"]
	path = submodules/lydia
	url = https://github.com/whitemech/lydia
[submodule "submodules/cudd"]
	path = submodules/cudd
	url = https://github.com/whitemech/cudd/
[submodule "submodules/mona"]
	path = submodules/mona
	url = https://github.com/whitemech/MONA/
[submodule "submodules/syft"]
	path = submodules/syft
	url = https://github.com/whitemech/Syft.git
[submodule "submodules/args"]
	path = submodules/args
	url = https://github.com/Taywee/args
[submodule "submodules/aaltaf"]
	path = submodules/aaltaf
	url = https://github.com/jackbergus/aaltaf
